.home-headers{
    border-bottom: 2px solid;
    margin: 30px 40px -5px;
}
.inf-all {
    text-decoration: none;
    margin-left: 320px;
}

#add-tour {
    margin-left: 700px;
    text-decoration: none;
}
